<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="http://i68.tinypic.com/2qm13ci.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="not-home-page">
        <li>
          <a href="/posts?target=community" id="community"><span class="title">COMMUNITY</span><span class="icon"><i class="fa fa-users"></i></span></a>
        </li>
        <li><a href="/posts?target=youth" id="youth"><span class="title2">YOUTH</span><span class="icon2"><i class="fa fa-child"></i></span></a></li>
        <li><a href="/posts?target=environment" id="environment"><span class="title3">ENVIRONMENT</span><span class="icon3 glyphicon glyphicon-tree-deciduous"></span></a></li>
        <li><a href="/posts?target=animals" id="animals"><span class="title4">ANIMALS</span><span class="icon4"><i class="fa fa-bug"></span></i></a></li>
        <li><a href="/posts?target=gooddeeds" id="gooddeeds"><span class="title5">GOOD DEEDS</span><span class="icon5 glyphicon glyphicon-gift"></span></a></li>
        <li><a href="/posts?target=mostpopular" id="mostpopular"><span class="title6">MOST POPULAR</span><span class="icon6 glyphicon glyphicon-heart-empty"></span></a></li>
        <li><a href="/neighbourhood" id="neighborhood"><span class="title7">IN MY HOOD</span><span class="icon7 glyphicon glyphicon-globe"></span></a></li>

      </ul>

<!--       SIGN UP/ SIGN IN BUTTON -->
      <ul id="user-navbar-section" class="nav navbar-nav navbar-right">
        <li id="user-name-dashboard" style="display: none">
          <span><a href ="/profile" id="nav-profile"></a></span>
        </li>
<!--         <li>
          <div id="status"> - this is the facebook "status" line to say you have logged in
          </div>
        </li> -->
        <li id="logout" style="display: none">
          <button class="btn btn-info" id="logout-button">LOGOUT</button>
        </li>
        <li id="signin-signup">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">SIGN UP/SIGN IN</button>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--         MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up or Sign In!</h4>
      </div>
      <div class="modal-body">
        <form id="signin-form">
          <p class="sign-in-font">SIGN IN</p>
          <p><input type="email" name="email" placeholder="email"></p>
          <p><input type="password" name="password" placeholder="password"></p>
          <button id="submit-button-home" class="btn btn-info"type="submit">Submit</button>
        </form>
        <button class="btn" id="fb-button"></button>
<!--         <img src="http://i63.tinypic.com/281snlw.png" id="fb-button"> -->

        <form id="signup-form">
          <p class="sign-up-font">SIGN UP</p>
          <p><input type="text" placeholder="First name" name="first-name"></p>
          <p><input type="text" placeholder="Last name" name="last-name"></p>
          <p><input type="text" placeholder="Username" name="username"></p>
          <p><input type="email" placeholder="Email" name="email"></p>
          <p><input type="password" placeholder="Password"name="password"></p>
          <p><input type="password" placeholder="Password confirm"name="password_confirmation"></p>
          <button id="submit-button-home" class="btn btn-info"type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>