<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="http://i65.tinypic.com/rbjqfr.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="not-home-page">
        <li><a href="/posts?target=community" id="community">Community <span class="sr-only">(current)</span></a></li>
        <li><a href="/posts?target=youth" id="youth">Youth</a></li>
        <li><a href="/posts?target=environment" id="environment">Environment</a></li>
        <li><a href="/posts?target=animals" id="animals">Animals</a></li>
        <li><a href="/posts?target=gooddeeds" id="gooddeeds">Good deeds</a></li>
        <li><a href="/" id="mostpopular">Most popular</a></li>

        <li><a href="/neighbourhood" id="neighborhood">In my neighbourhood</a></li>

        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status">
        </div>
      </ul>


<!--       SIGN UP/ SIGN IN BUTTON -->
      <ul id="user-navbar-section" class="nav navbar-nav navbar-right">
        <li id="user-name-dashboard" style="display: none">
          <span><a href ="/profile" id="nav-profile"></a></span>
        </li>
        <li id="logout" style="display: none">
          <button class="btn btn-primary" id="logout-button">Logout</button>
        </li>
        <li id="signin-signup">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Sign Up/Sign in</button>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--         MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up or Sign In!</h4>
      </div>
      <div class="modal-body">
        <form id="signin-form">
          <p>SIGN IN</p>
          <p><input type="email" name="email" placeholder="email"></p>
          <p><input type="password" name="password" placeholder="password"></p>
          <button id="submit-button-home" class="btn btn-default"type="submit">Submit</button>
        </form>

        <form id="signup-form">
          <p>SIGN UP</p>
          <p><input type="text" placeholder="First name" name="first-name"></p>
          <p><input type="text" placeholder="Last name" name="last-name"></p>
          <p><input type="text" placeholder="Username" name="username"></p>
          <p><input type="email" placeholder="Email" name="email"></p>
          <p><input type="password" placeholder="Password"name="password"></p>
          <p><input type="password" placeholder="Password confirm"name="password_confirmation"></p>
          <button id="submit-button-home" class="btn btn-default"type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>