<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Sign Up/Sign in
</button>
 -->
<!-- MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up or Sign In!</h4>
      </div>
      <div class="modal-body">
        <form id="signin-form">
          <p>SIGN IN</p>
          <p><input type="email" name="email" placeholder="email"></p>
          <p><input type="password" name="password" placeholder="password"></p>
          <button id="submit-button-home" class="btn btn-default"type="submit">Submit</button>
        </form>

        <form id="signup-form">
          <p>SIGN UP</p>
          <p><input type="email" placeholder="Email" name="email"></p>
          <p><input type="password" placeholder="Password"name="password"></p>
          <p><input type="password" placeholder="Password confirm"name="password_confirmation"></p>
          <button id="submit-button-home" class="btn btn-default"type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

