.modal-backdrop
{
  opacity:0.8 !important;
}

body {
  font-family: 'Roboto', serif;
  font-size: 15px;
  background-color: #E8E8E8;
}

#fb-button {
  background-image: url("http://i63.tinypic.com/u4fx4.png");
  border:0;
  display:block;
  width:200px;
  height:35px;
  margin-top:20px;
  margin-bottom:20px;
}
/*
NAVBAR CSS*/

.navbar-default {
  margin-bottom:0px;
  height:85px;
}

a.navbar-brand > img {
  width: 250px;
  margin-top: -20px;
}

.navbar {
  border-radius: 0px;
  background-color: white;
}

@media (max-width: 1320px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        z-index:;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


#environment, #community, #animals, #youth, #gooddeeds, #neighborhood {
  padding-right: 2px;
  padding-left:2px;
  line-height: 50px;
  text-align:center;
}

#mostpopular {
  padding-right: 5px;
  padding-left:0px;
  line-height: 50px;
  text-align:center;
}

/*#environment:hover, #community:hover, #animals:hover, #youth:hover, #gooddeeds:hover, #mostpopular:hover, #neighborhood:hover {
  background-color:DarkTurquoise;
  color:transparent;
  background-image:url("http://i65.tinypic.com/sbnh9f.png");
  background-size: 100%;
  background-position: center;
}*/

/*COMMUNITY HOVER EFFECT - NAV BAR*/
.icon {
  display: none;
  font-size:48px;
  color:white;
  background-color:DarkTurquoise;
}

#community {
  width: 110px;
}

#community:hover {
  background-color:DarkTurquoise;
}

#community:hover .title {
  background-color:DarkTurquoise;
  display: none;
}

#community:hover .icon {
  display: block;
}

/*YOUTH HOVER EFFECT - NAV BAR*/

.icon2 {
  display: none;
  font-size:48px;
  color:white;
  background-color:#9907ff;
}

#youth {
  width: 110px;
}

#youth:hover {
  background-color:#9907ff;
}

#youth:hover .title2 {
  background-color:#9907ff;
  display: none;
}

#youth:hover .icon2 {
  display: block;
}

/*ENVIRONMENT HOVER EFFECT - NAV BAR*/

.icon3 {
  display: none;
  font-size:48px;
  color:white;
  background-color:#7CFF00;
}

#environment {
  width: 110px;
}

#environment:hover {
  background-color:#7CFF00;
}

#environment:hover .title3 {
  background-color:#7CFF00;
  display: none;
}

#environment:hover .icon3 {
  display: block;
}

/*ANIMALS HOVER EFFECT - NAV BAR*/

.icon4 {
  display: none;
  font-size:48px;
  color:white;
  background-color:#fff200;
}

#animals {
  width: 125px;
}

#animals:hover {
  background-color:#fff200;
}

#animals:hover .title4 {
  background-color:#fff200;
  display: none;
}

#animals:hover .icon4 {
  display: block;
}

/*GOOD DEEDS HOVER EFFECT - NAV BAR*/

.icon5 {
  display: none;
  font-size:48px;
  color:white;
  background-color:#FF0067;
}

#gooddeeds {
  width: 110px;
}

#gooddeeds:hover {
  background-color:#FF0067;
}

#gooddeeds:hover .title5 {
  background-color:#FF0067;
  display: none;
}

#gooddeeds:hover .icon5 {
  display: block;
}

/*MOST POPULAR HOVER EFFECT - NAV BAR*/

.icon6 {
  display: none;
  font-size:48px;
  color:white;
  background-color:#ff4e8d;
}

#mostpopular {
  width: 175px;
}

#mostpopular:hover {
  background-color:#ff4e8d;
}

#mostpopular:hover .title6 {
  background-color:#ff4e8d;
  display: none;
}

#mostpopular:hover .icon6 {
  display: block;
}

/*IN MY HOOD HOVER EFFECT - NAV BAR*/

.icon7 {
  display: none;
  font-size:48px;
  color:white;
  background-color:#67f0db;
}

#neighborhood {
  width: 125px;
}

#neighborhood:hover {
  background-color:#67f0db;
}

#neighborhood:hover .title7 {
  background-color:#67f0db;
  display: none;
}

#neighborhood:hover .icon7 {
  display: block;
}


#nav-profile {
  padding-right: 25px;
  line-height: 80px;
}

#signin-signup {
  line-height: 60px;
  padding: 2px;
  margin-top: 6px;
  margin-right: 20px;
  border-radius: 2px;
}

#logout {
  line-height: 60px;
  padding: 2px;
  margin-top: 6px;
  margin-right: 20px;
  border-radius: 2px;
}

/****** LOGIN MODAL ******/

#myModalLabel {
  background-color:DarkTurquoise;
  color:white;

}

#fb-button {
  float:left;
  display:inline-block;
}

.orText {
  display:inline-block;
  line-height: 80px;
  padding-left: 20px;
  font-style:italic;
}

#sign-in form p.fbButtonModal {
  margin-top:-20px;
}

#myModal.modal-header {
  padding-left:0px;
  padding-right:0px;
  margin-top:-45px;
  background-color:DarkTurquoise;
}

.button.close < span {
  color:white;
  font-size:48px;
}
.modal-content {
  padding: 30px;
  max-width: 550px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.modal-content h4 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.modal-content input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.modal-content input[type=text], input[type=email], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.modal-content input[type=text]:hover, input[type=email], input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.sign-in-font {
  font-style:bold;
  font-size:18px;
}

.sign-up-font {
  font-style:bold;
  font-size:18px;
}

.modalbody {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.modalbody-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.modalbody-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}




