#showsinglepost {
  font-family: Helvetica, serif;
}

.single-header{
  padding-left: 0px;
}

#singletitle {
  font-size: 30px;
  padding-bottom: 10px;
}

#singlebody {
  padding-left: 0px;
  padding-right: 0px;
}

.body {
  padding-left: 0px;
  padding-right: 0px;
}

#singlevotes {
  color: #9E9E9E;
}

#singledate {
  color: #9E9E9E;
}

#singlecategory {
  color: #9E9E9E;
}

#singlelocation {
  color: #9E9E9E;
  margin-top: 10px;
}
.userrow{
  border-top: solid #E0E0E0 1px;
  border-bottom: solid #E0E0E0 1px;
  padding-top: 10px;
  padding-bottom:10px;
  margin-top: 10px;
  margin-bottom:5px;
}

.pro-pic {
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

#singleusername {
  font-size: 30px;
  padding-left: 20px;
}

/*IMPROVING POSTS ON HOME PAGE*/
.col-xs-10.username {
  line-height: 91px;
  font-weight: bold;
  width: 45.333333%;
}

.col-xs-2.photo {
  border-radius: 25px;
  height:50px;
  width:50px;
  margin-left: 25px;
  margin-top: 15px;
  padding: 2px;
  overflow: hidden;
  object-fit:cover;
}

#singledescription {
  margin-top:10px;
}

.col-xs-12.votes {
  margin-top: 10px;
  font-size: 20px;
  border-bottom: 3px solid #d3d3d3;
  padding-bottom: 10px;
}
.col-xs-12.title{
  padding-left: 0px;
  margin-top: 5px;
