body {
  font-family: 'Roboto', serif;
  font-size: 15px;
  background-color: #E8E8E8;
}

#usercolumn {
  background-color: #B0B0B0;
}

.container-fluid {
  margin:0 auto;
}
/*POSTS SECTION ON HOMEPAGE*/

#post-home.row{
  margin:0 auto;
  margin-top:20px;
}

.post{
  border:1px solid #D9D9D9;
  border-radius: 5px;
  background:white;
  margin-bottom:20px;
  padding-top:20px;
  padding-bottom:20px;
}

/*This item is attached to masonryGrid in posts.js file*/
.item {
  width: 335px;

}

.post img {
  padding:2px;
}

title {
    font-weight: bold;
    font-size: 16px;
}


/*PREVIOUS PINTEREST CSS CODE - HARDWIRED*/

/**, *:before, *:after {box-sizing:  border-box !important;}

.row {
 -moz-column-width: 20em;
 -webkit-column-width: 20em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;

}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

.post {
  background-color: white;
  border-radius: 5px;
  border: solid  1px #CCCBC6;
  margin: 0.5em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:20px;
  position:relative;
  display: block;
  column-fill: auto;
}
*/


.username {
  border-top: 1px #B0B0B0;
  border-bottom: 1px #B0B0B0;
  line-height: 45px;
}

.navbar-brand img {
  width:150px;
}

.navbar {
  border-radius: 0px;
  background-color: white;
}


/*CAROUSEL*/

/*@media (max-width:800px) {
    #bs-carousel {
        display:none !important;
    }
}*/

/*
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/



/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 50vh;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #080d15;
    opacity: .1;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://www.scmp.com/sites/default/files/styles/486w/public/2015/09/07/chenglaiking.jpg?itok=C5GlL3n-);
  background-size:100%;
  background-position:center;
}
.fade-carousel .slides .slide-2 {
  background-image: url(http://cdn2.i-scmp.com/sites/default/files/styles/486x302/public/2015/06/28/d41175b9eb68e97c579333b60956430c.jpg?itok=WtDJ1hAC);
}
.fade-carousel .slides .slide-3 {
  background-image: url(http://cdn2.i-scmp.com/sites/default/files/styles/980w/public/2015/06/06/05f71407207a31e8e59c53509c7a35a0.jpg?itok=TsnmAJKp);
}
.fade-carousel .slides .slide-4 {
  background-image: url(http://www.expatliving.sg/incoming/article115110.ece/alternates/w1024/Streetart);
}
.fade-carousel .slides .slide-5 {
  background-image: url(http://i.imgur.com/JbKmW.jpg);
}

.carousel-inner {
  z-index:3;
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}
/*
PROFILE PAGE CSS*/

#userposts.row {
  margin-top: 20px;
}

button.btn.btn-primary.btn-lg {
  height: 300px;
  width: 100%;
  margin-top: 20px;
}

i.fa.fa-plus {
  font-size: 70px;
}

#usercolumn {
  margin-top: 20px;
  background-color: #E8E8E8;
}

